[2016-07-01 14:16] toxa81 opened #6 "occupation in uspp files"
the code ties to read occupations

parser["pseudo_potential"]["atomic_wave_functions"][k]["occupation"] >> occ;

but the upf converters don't write this to json. How this is possible?

[2016-07-01 18:28] electronic-structure opened #7 "Better way to create density matrix"
something like
auto dmat = density_->generate_density_matrix(kset)

and then use it to augment charge density or construct the PAW potential

[2016-07-01 18:41] electronic-structure opened #8 "ndm_"
fix ndm:

int num_zdmat = (ctx_.num_mag_dims() == 3) ? 3 : (ctx_.num_mag_dims() + 1);

[2016-07-02 10:01] #8 closed

[2016-07-02 18:54] toxa81 opened #9 "lmax in potential"
@dithillobothrium What's the story with lmax in potential. What lmax is necessary for PAW?

[2016-07-04 06:56] dithillobothrium commented on #9
Because I need to use sht_, which is created here
https://github.com/electronic-structure/SIRIUS/blob/develop/src/Potential/potential.cpp#L63

Also I can create own SHT based lmax of each atom

[2016-07-04 06:58] dithillobothrium commented on #6
my upf2 converter wrote it to upf

[2016-07-04 06:58] toxa81 commented on #9
Yes, but what is lmax for this transformation? My guess is 2 * lmax_rf.

[2016-07-04 06:59] dithillobothrium commented on #9
yes

[2016-07-04 07:00] toxa81 commented on #6
ok, and fixed it for upf.

[2016-07-06 09:17] #7 closed

[2016-07-06 09:17] #9 closed

[2016-07-06 09:19] toxa81 opened #10 "Reduced G-vectors in symmetrization of vector filelds"
fix symmetrize_vector_z_component() function

[2016-07-06 12:27] toxa81 opened #11 "Collection of Spheric_functions"
A collection of spheric functions (for MT spheres) is required for LAPW and PAW. It will be used to store MT-related functions and used to access f_{lm}(r) components

[2016-07-06 13:23] toxa81 opened #12 "Expression templates"
A more consistent way to perform operations on the objects without memory reallocation.

For example:

Obj o1(resources);
o1 = transform(o2); // this should write directly to o1

[2016-07-08 07:09] toxa81 opened #13 "Symmetrize density matrix in LAPW"
If the density matrix is symmetrized, the correct charge density in MT can be computed directly without a need of symmetrization. Then the array of muffin-tin radial functions can be made local (distributed over mpi ranks).

[2016-07-08 15:35] dithillobothrium commented on #12
there is library Eigen for matrix manipulations with expression templates. It looks like a mess and very hard to debug. May be its possible to make something better

[2016-07-11 20:41] dithillobothrium opened #15 "Refactor initialization density for PAW"
Now peaces of code are everywhere, one need to make more structured  code.

[2016-07-12 15:15] dithillobothrium opened #18 "Change signature of "generate_potential(...)"-like methods to more common view"
It would be useful to make signature of method like `generate_potential(Density& density)`. Now it is not convenient `generate_potential(mdarray full_density, ndarray magnetization)` because every new feature from density requires overwriting of the code

[2016-07-12 15:21] toxa81 commented on #18
I agree. As far as I remember, there was a mutual dependency of Density and Potential. That's why they are kept on the same "level". May be I'm mistaken and it's not the case any more.

[2016-07-12 15:31] dithillobothrium commented on #18
Yes, they are still dependent. Hm...

[2016-07-12 16:05] dithillobothrium commented on #18
May be it is possible to replace this function [https://github.com/electronic-structure/SIRIUS/blob/master/src/k_set.cpp#L60](url) to some solver, which will be dependent on `Kset` and `Potential`. Then it will break circular dependency.

[2016-07-12 16:06] dithillobothrium commented on #18
May be it is possible to replace this function https://github.com/electronic-structure/SIRIUS/blob/master/src/k_set.cpp#L60 to some solver, which will be dependent on Kset and Potential. Then it will break circular dependency.

[2016-07-13 13:12] dithillobothrium commented on #18
I did https://github.com/dithillobothrium/SIRIUS/commit/b6eae55cba991e9c1241252d4fbf764241debe8f

[2016-07-14 11:17] #6 closed

[2016-07-15 10:41] dithillobothrium opened #20 "Remove warnings"
change some type conversions

[2016-07-16 12:49] #18 closed

[2016-07-18 09:45] dithillobothrium opened #23 "16 atoms supercell PAW LiF crashes. Negative density is passed to XC calculation"
!

[2016-07-20 14:58] dithillobothrium commented on #23
All for PAW:

Broyden mixer makes DM such that

- Density is negative after that for 16 atomic supercell LiF - not good
- LiF unit cell converges in 20-25 iterationc - not good
- Cu paw converges in 12 iterations - good

Tried to apply Linear mixer for DM
- It works but very slow (especially for Cu ) for all considered systems.

Started to read about Broyden mixer and dig a code.
- Is it OK here h

[2016-07-27 14:50] dithillobothrium commented on #23
Now it works, everything converges. Made fix in mixer similarly to QE: nullify contribution to S from density matrix.

[2016-07-27 14:50] #23 closed

[2016-07-28 16:04] dithillobothrium opened #24 "Some problems with Atom::d_mtrx in parallel mode"
When I use grid [2] for example, then calculations give wrong gap. By checking hashes of the data I found, that PAW data is the same as in serial, but Atom::d_mtrx is not (which is calculated before PAW).

[2016-07-28 17:42] dithillobothrium commented on #24
Old commit without parallel PAW works also incorrect in parallel

[2016-07-28 17:57] dithillobothrium commented on #24
It seems that the problem is here https://github.com/electronic-structure/SIRIUS/blob/master/src/Potential/generate_d_operator_matrix.cpp#L145

- I thought that reduce_gvec is 0 (as it in sirius.json)
- maybe here an additional summation appears due to allreduce

[2016-08-03 12:24] #24 closed

[2016-08-16 21:30] dithillobothrium opened #25 "Spin dimensions"
There is num_mag_dims = 0,1,3 ; num_spins=1,2 ; I made also num_mag_comps =1,2,3 (because for non-collinear one needs only 3). So, what the case is used in  Atom::d_mtrx_ ?

[2016-08-17 16:49] dithillobothrium opened #26 "Sirius crashes for PAW magnetic collinear case"
Here
https://github.com/electronic-structure/SIRIUS/blob/develop/src/symmetry.cpp#L445

[2016-08-17 17:11] dithillobothrium commented on #26
Why does G-vec after a symmetry operation becomes with the index which is out of the range?

[2016-08-17 17:24] dithillobothrium commented on #26
Maybe one need to make it like here https://github.com/electronic-structure/SIRIUS/blob/develop/src/symmetry.cpp#L386 ?

[2016-08-17 17:55] dithillobothrium commented on #26
So, I fixed it just by copying the same part from non-magnetic function  https://github.com/electronic-structure/SIRIUS/blob/develop/src/symmetry.cpp#L386 and it works at least for Cu

[2016-10-04 21:23] #25 closed

[2016-10-12 09:47] #20 closed

[2016-10-12 09:48] #10 closed

[2016-10-12 09:49] electronic-structure opened #30 "GPU pointer in FFT driver"
parallel FFT driver should be able to accept GPU pointer and use G2G internally

[2016-10-12 09:52] electronic-structure opened #31 "2D FFT in CUDA as a matrix multiplication"
Check the following: 2D FFT as zgemm is O(N^3), 2D FFT as usual is O(N^2 logN) plus the time for memory transposition. What is faster?

[2016-10-12 09:52] #26 closed

[2016-11-17 12:50] toxa81 opened #33 "calculation of band structure is wrong"
QE+SIRIUS Bug, calculation of band structure is wrong. It seems that people from QE changed indexation of k-points. (New function global_kpoint_index() appeared) There is difference in one-electron energies between QE and QE+SIRIUS

[2016-11-17 12:53] toxa81 opened #34 "const correctness everywhere"

[2016-11-23 13:04] dithillobothrium opened #38 "Initialization flags and pointers return"
One needs to
- add initialization flags in complicate classes if they are initialized not in all cases or not in constructor.
- return pointers(not references) for those objects, which are allocated not in all cases or not in constructor.
The reason is to be able to check.

[2016-12-11 19:41] toxa81 opened #40 "Simplify FFT driver"
hybrid CPU/GPU is overcomplicated. Implement only pure CPU or pure GPU transformations.

[2016-12-12 13:02] toxa81 opened #41 "Mix density matrix in QE"
Fetch, mix and put density matrix for PAW calculations.

[2016-12-19 19:53] #33 closed

[2017-05-22 15:04] #41 closed

[2017-05-22 15:05] #40 closed

[2017-05-22 15:06] toxa81 commented on #30
planned for a Hackathon-2017

[2017-05-31 07:53] toxa81 opened #51 "more verification tests"
Add verification tests of stress tensor and forces

[2017-08-28 13:19] toxa81 opened #81 "Initial state"
Work on exact initialization of ground state like in QE

[2017-09-02 19:47] electronic-structure opened #83 "Common interface to eigenvalue solvers."
all eigenvalue solvers should accept dmatrix as input/ouptut. No raw pointers!

[2017-09-02 19:50] electronic-structure opened #84 "More code organisation"
ideally ./src should contain only subdirectories, no bare files

[2017-10-12 16:11] borellim opened #113 "Communicator(Communicator&& src__) possibly invokes undefined behaviour"
This move-constructor calls `Communicator::free()` without setting first `mpi_comm_` and `need_to_free_`.
Valgrind reports this:

[code]

I'm not sure what the correct default values for these variables are, though.

https://github.com/electronic-structure/SIRIUS/blob/188cec57ca35d3f22a6a903b5c89823f5ace345d/src/SDDK/communicator.hpp#L223

[2017-10-23 10:24] electronic-structure commented on #113
This is strange. need_to_free_ flag is set explicitly in two constructors which are the only two places where Communicator object is created.

[2017-10-24 10:44] borellim commented on #113
True, but the move-constructor sets `need_to_free_` only after it calls `free()`.

[2017-10-24 11:07] electronic-structure commented on #113
Yes, but there is also a second condition in free() that depends on mpi_comm_
`
if (need_to_free_ && !(mpi_comm_ == MPI_COMM_NULL  ||
                               mpi_comm_ == MPI_COMM_WORLD ||
                               mpi_comm_ == MPI_COMM_SELF)) {
            CALL_MPI(MPI_Comm_free, (&mpi_comm_));
            mpi_comm_ = MPI_COMM_NULL;
        }
`

when they are both checked, MPI_Comm_fr

[2017-10-25 09:08] #81 closed

[2017-10-25 09:09] #30 closed

[2017-10-27 10:24] borellim commented on #113
Ah, I see. It's a false flag then.

However, you can still silence this warning, if you want, by either:
* swapping the two operands of the `&&`, in order to trigger shirt-circuiting;
* giving a default value of `false` in the definition of the `Communicator` class (probably safer for the future).

Thanks for your replies on this. Feel free to close the issue if you want.

[2017-12-19 15:21] #83 closed

[2017-12-19 15:22] #12 closed

[2018-01-05 08:19] #113 closed

[2018-01-12 13:55] toxa81 commented on #84
1) move non_local_operator.h to Hamiltonian/non_local_operator.hpp
2) move band.h to Band/band.hpp
3) move potential.h to Potential/potential.hpp
4) move density.h to Density/density.hpp
5) move k_point.h and k_point_set.h to K_point/
6) get rid of force.cpp and move the code to Geometry/

[2018-04-09 09:05] toxa81 opened #196 "get rid of 10a.u. hack in sirius"
This is done to match QE results. Better to check for proper analytical tail of rho_core(r) and vloc(r)

10 a.u. is hardcoded and used as `rcut` in  Modules/read_pseudo.f90

[2018-04-09 09:05] #38 closed

[2018-06-26 16:07] toxa81 opened #232 "API-v2"
use valgrind to investigate the crash in c_bands.f90
call sirius_set_parameters(sctx, iter_solver_tol=ethr/2)

[2018-07-03 08:10] #232 closed

[2018-10-10 11:04] #11 closed

[2018-10-10 11:06] toxa81 opened #287 "Initial magnetization and total energy"
There is a small difference in total energy depending on starting magnetization. Why?

[2018-10-15 18:49] antoscha opened #288 "No cmake option to build shared library"
Dear Developers,
It would be great if you added a feature to build SIRIUS with cmake as a shared library.
Thank you in advance.

[2018-10-15 21:46] simonpintarelli commented on #288
Hello,

thank you for your request!
The cmake in branch `build_shared_library`, [link](https://github.com/electronic-structure/SIRIUS/tree/build-shared-library), builds both static and shared (libsirius.so) libraries by default. Note that there is only a library if either CUDA or Fortran bindings are activated, otherwise SIRIUS is header only. E.g. to build the shared library containing the CUDA k

[2018-10-15 21:57] antoscha commented on #288
Thank you!

[2018-10-15 21:57] #288 closed

[2018-10-20 16:25] bonfus opened #290 "Glith in prerequisite.py"
`prerequisite.py` fails on the `xc` case.

[code]

Renaming `libxc-4.2.3.tar.gz` to `xc-4.2.3.tar.gz` solves the problem.

[2018-10-22 12:41] toxa81 commented on #290
I can't reproduce the error. On my mac I have:
[code]
and the library is downloaded correctly. On the other hand
[code]

[2018-10-22 12:42] toxa81 commented on #290
Ah! I know, the ./libs directory was not created
[code]
will work

[2018-10-23 19:42] bonfus commented on #290
Yes, sorry, works for me too. Wild guess, it must have been a strange manifestation of my home directory getting close to the quota.

[2018-10-24 11:19] toxa81 commented on #290
Good!

[2018-10-24 11:19] #290 closed

[2018-10-31 07:47] dev-zero opened #298 "Remove GSL as a hard dependency or add disclaimer"
While SIRIUS is licensed under the FreeBSD-licensed (2-clause BSD), the GSL it needs to build is licensed under the GPL (not the **L**GPL!), which means that a binary SIRIUS installation must be distributed by the terms of the **GPL**.
Please note: I do not care either way, but if using the GSL was intentional, you might want to either change the license of SIRIUS to GPL itself or at least add a c

[2018-10-31 09:57] mtaillefumier commented on #298
Actually, we won't find any proper way to solve this because there is no agreement about the notion of derived work when linking is involved (it is not clearly stated in the license). Some say, it is derived work other no. In all honesty, I do not care that much about that based on the fact the code is licensed on a free license and in any case freely available for whom wanting it. Changing licenc

[2018-10-31 10:30] dev-zero commented on #298
@mtaillefumier wrt linking: https://www.gnu.org/licenses/gpl-faq.en.html#LinkingWithGPL ... so, from GNU side it is quiet clear and I wouldn't want to test that.

IANAL, but my understanding of this is:
The problem here is not your distribution of SIRIUS, but rather that every code incorporating SIRIUS has to comply to the GPL. This means that SIRIUS can not be used in any non-GPL compliant code a

[2018-10-31 12:55] mtaillefumier commented on #298
This is not entirely true in practice and always comes back to the definition of derived work, which is not even clearly defined by law. Some people of fsf argue in the direction of the FAQs, others say that it does not explicitly violate the GPL provided that you publish any modification of the code licensed under GPL. Moreover, nothing forbid to use GPL software in a commercial software (which i

[2018-10-31 13:48] dev-zero commented on #298
If what you said were true there would be no need for the LGPL, but clearly some people make a distinction.

The problem for otherwise closed source codes is exactly that they would have to
* `provide the source code (to their software) upon request`
* **AND** under the terms of the GPL

which means allowing recipients of the source code to redistribute the softwares otherwise closed source code.

[2018-11-01 10:47] toxa81 commented on #298
We had an internal discussion about licensing and we came to the conclusion that we continue to develop under BSD licence and potential non-FOSS code users/developers would have to take care of GSL themselves.

[2018-11-01 10:47] #298 closed

[2018-11-15 18:30] dev-zero opened #309 "Several issues with the generated Fortran API"
The Fortran API seems to have a couple of issues.

Looking at `sirius_set_atom_type_radial_grid` as an example with the following definition:

[code]
with the following C/C++ function:

[code]

1. `use, intrinsic :: ISO_C_BINDING` is missing in the definition of `sirius_set_atom_type_radial_grid`. Since you are using types defined by the ISO C Bindings already there, you should be using the `use .

[2018-11-16 08:47] toxa81 commented on #309
Hi!

1. You are looking at 'generated.f90' file which is not compiled by itself. It is included from 'sirius.f90' and there the 'use, intrinsic :: ISO_C_BINDING' is present. So it is not missing or "leaking in" from somewhere.
2. There are other Fortran codes that can store radial grids as 2d arrays, e.g. rgrid(npt_max, nat_type). In this case you can't pass rgrid(1:npt, iat) to the interface and

[2018-11-16 09:37] dev-zero commented on #309
1. ok, my bad, didn't check that
2. I might be missing something, but the following example works as expected:
[code]
3. the problem is that people can never safely assume their arrays are contiguous (especially not when using subarrays/slices), so they can never safely use this API. Furthermore, problems from doing it like this may be very hard to debug and can go unnoticed. I would therefore rat

[2018-11-16 10:03] toxa81 commented on #309
2) 3) 4) 5) - point taken. I have to check how easy it would be to modify the markup for the functions and generating python script
6) indeed, it's a matter of taste. For pointer to pointers both intent(in) and intent(inout) are misleading. Both allow to modify the target memory.

[2018-11-16 10:07] dev-zero commented on #309
I can also work on that if you like and send a PR. The only thing I would have to know is how to extend the `@fortran` syntax for the generator for the `value` semantic and possibly also the `dimension(*)`.

[2018-12-10 23:32] #34 closed

[2018-12-10 23:32] toxa81 commented on #34
this is getting in order

[2018-12-11 13:30] toxa81 opened #315 "check derivation of XC stress for magnetic GGA case"
how to use vsigma

[2019-03-07 16:31] toxa81 opened #333 "XC functinals"
in xc_functional_base.hpp:
[code]
I cant find XC_LDA_X_1D_SOFT and XC_LDA_X_1D_EXPONENTIAL definitions in any xc_func.h header. @mtaillefumier where do this guys come from?

[2019-03-07 17:34] mtaillefumier commented on #333
libxc git repository. comment the guilty lines since they will be included in the next version. I work with the git repository of libxc, libvdwxc, etc... But these lines have been there for some time already.

[2019-03-13 13:24] #333 closed

[2019-04-02 13:05] #51 closed

[2019-07-09 13:34] #31 closed

[2019-07-12 15:24] mtaillefumier opened #385 "Issue with symmetrization of the hubbard occupation matrix"
If we symmetrize the hubbard occupation matrix n_s, then the solver becomes crazy after few iterations and electrons fly away (wrong unsymmetrized density warning). This happened before the my wfc refactoring but we leave this work to QE so it was simply forgotten with time.

This does not occur if we do not explicitly symmetrize n_s. The symmetries procedure is identical to the procedure for the

[2019-07-16 13:17] dev-zero opened #388 "Adapt SIRIUS to current ELPA API"
Since some time ELPA features a new API. In their most recent version 2019.05.001 the developers stopped providing the legacy API by default (needs to be enabled manually in ELPA using `configure --enable-legacy-interface`), which leads to the following error when trying to link SIRIUS:

[code]

[2019-07-16 13:24] toxa81 commented on #388
I think we added the new API support. I'm testing all the new modifications and then we will make a new release (this week)

[2019-07-16 13:25] dev-zero commented on #388
I see, only checked `master`. Sorry for the noise.

[2019-07-16 13:25] #388 closed

[2019-07-23 20:44] yurivict opened #397 "Please change /bin/bash to /bin/sh"
https://github.com/electronic-structure/SIRIUS/blob/master/generate_options_header_file.sh#L1

```bash != sh```
On many systems bash needs to be separately installed, and there is nothing that needs bash in this script.

[2019-07-23 21:29] simonpintarelli commented on #397
@yurivict  Thank you for pointing this out! Changed in [develop](/electronic-structure/SIRIUS/tree/develop) : https://github.com/electronic-structure/SIRIUS/commit/b8c9c62c9cba46c0f0a2a50b4d0601af75f26d65

[2019-07-23 21:29] #397 closed

[2019-07-24 17:06] yurivict opened #400 "Please allow verskion to be passed through cmake variables, instead of calling git"
[code]

When package is built, it builds from the tarball provided by GitHub. These tarballs don't contain .git directories.

[2019-07-24 17:24] simonpintarelli commented on #400
Thanks for reporting. I think the problem here is that git is not found, which throws an exception that is not properly caught.
This should fix it: 7a509d3eacff91d9f7ed0b3577efbd1601a395d4

[2019-07-24 17:31] yurivict commented on #400
The problem is that the version is not available other than potentially through a cmake variable.

[2019-07-24 18:27] simonpintarelli commented on #400
If git is available on the system and if the sources were git cloned, the branch and commit sha will be read. Otherwise the version string stored in the file `./VERSION` is taken. If obtaining the SHA via `git` has failed, it will try to obtain the SHA from `api.github.com`, although this might return a wrong SHA in case a zip/tar was downloaded from an arbitrary commit.
IMO there is no need to ha

[2019-07-24 19:39] yurivict commented on #400
I provided the file ```VERSION``` in the source directory but it still fails because of missing ```git``` executable.

[2019-07-24 19:48] simonpintarelli commented on #400
Which version did you download? Did you apply the patch  (7a509d3eacff91d9f7ed0b3577efbd1601a395d4) for the python script? If yes, could you please post the backtrace again?

[2019-10-03 12:26] toxa81 commented on #385
@mtaillefumier I pushed a new branch `ldapu` with the new verification test19. It will crash on the stress tensor.

[2019-10-08 06:22] s870582003 opened #423 "ROCM version cannot be built"
We are using Sirius on the ROCM platform with release v6.3.4.
However, ROCM version doesn't seems to be able to build successfully.
The build fail logs are appended below...
Also, we would like to ask if there is some comprehensive documentation on Sirius that covers
a list of unit tests that needs to be passed, including the hand to hand steps to run them, and what to be expect int the correct ou

[2019-10-08 07:06] toxa81 commented on #423
@AdhocMan Simon, can you please have a look? As a side notice, I suggest to work with the latest `develop` branch.

[2019-10-08 07:56] AdhocMan commented on #423
The ROCm support at moment is still experimental. The initial implementation was done with for an older release of ROCm and it may require some changes now. Due to the missing functionalities, only a very limited subset could be run anyway (mainly the FFT part, which has now been separated into a new library [SpFFT](https://github.com/eth-cscs/SpFFT)). Tests are available in the verification folde

[2019-10-08 11:05] s870582003 commented on #423
Ahhh I see. Can I assume that there is a stable version of Sirius that can be built and run successfully with some older version of Rocm?
If so I, would you kindly provide the version tags for both Sirius and Rocm as I would like to try with that combination first.

[2019-10-08 11:38] AdhocMan commented on #423
There is no stable support for ROCm. The experimental support was added with commit 7e886cc3b1f3239b38a9e1fba296f13d9dcfaf64 and targeted ROCm 2.1 or 2.2. However, you will not be able to use most functionality.
I recommend you wait with testing, until ROCm is fully supported (which depends on the missing features mentioned before).

[2019-10-09 06:14] s870582003 commented on #423
Ok I understand!
Thanks for the clarification!

[2019-10-09 06:14] #423 closed

[2019-10-09 08:22] s870582003 opened #424 "Wrong eigen-value solver when running verification test cases"
I tried running the test scripts under the verification folder for both CPU and CUDA.
However, for run_tests_parallel_gpu.x , run_tests_parallel.x, I keep getting the following error, complaining that it cannot find the appropriate eigen value solver....

`number of magnetic dimensions      : 0`
`lmax_apw                           : -1`
`lmax_rho                           : 4`
`lmax_pot

[2019-10-09 08:30] simonpintarelli commented on #424
@s870582003 I think you forgot to enable scalapack during compilation.
You need to specify `cmake -DUSE_SCALAPACK=On ...`.

[2019-10-11 08:06] #424 closed

[2019-10-14 09:22] s870582003 commented on #424
Thanks! It works now =)

[2019-11-29 08:00] merkys opened #444 "Compile fails with 'error: format not a string literal and no format arguments'"
Compiling `src/Band/band.cpp` to `CMakeFiles/sirius.dir/Band/band.cpp.o` fails with the following:
[code]
Top of `cmake` output:
[code]

[2019-11-30 17:17] simonpintarelli commented on #444
Thank you for reporting, we were not compiling with `-Werror=format-security` so far. It's fixed in PR #446 .

[2019-11-30 17:17] #444 closed

[2019-12-02 06:54] merkys commented on #444
Thanks a lot for the prompt fix! Compile completes successfully now.

[2019-12-02 11:30] merkys opened #448 "CMake tries to copy headers without taking DESTDIR into account"
On UNIX systems Makefile variable `DESTDIR` is usually used to provide root directory for the installation (see [`DESTDIR` documentation for CMake](https://cmake.org/cmake/help/v3.13/envvar/DESTDIR.html#envvar:DESTDIR)). One of instructions for SIRIUS however does not take `DESTDIR` into consideration:
[code]
I assume the following instruction in `src/CMakeLists.txt` is responsible for it:
[code]

[2019-12-02 14:05] simonpintarelli commented on #448
This should fix it: https://github.com/electronic-structure/SIRIUS/commit/ee4fc7e8954614897e0982f0bf62b0097aa9cb75

I haven't noticed before that `make install DESTDIR=...` was broken. On archlinux it used to work.

[2019-12-02 15:52] merkys commented on #448
This fixes the issue. Thanks for prompt response!

[2019-12-02 16:11] #448 closed

[2020-01-03 10:05] oschuett opened #453 "Wrong INTENT in Fortran API breaks compilation with GCC9"
In the generated Fortran API the second argument of `sirius_option_get_name_and_type()` is [falsely declared](https://github.com/electronic-structure/SIRIUS/blob/master/src/generated.f90#L2682) with `INTENT(out)`. As a result the compilation fails with GCC9:

![Screenshot from 2019-12-31 17-18-51](https://user-images.githubusercontent.com/241771/71717474-872a2380-2e18-11ea-98d7-959d657ee3d9.png)

[2020-01-06 13:55] toxa81 commented on #453
fixed in the latest 'develop' branch; will appear in v6.4.3 tag

[2020-01-07 10:54] toxa81 commented on #453
This should be fixed now.

[2020-01-09 05:40] mohamedsami144 commented on #453
Thank you very much for your support.

[2020-01-09 17:23] oschuett commented on #453
This is indeed fixed. See https://github.com/cp2k/cp2k/pull/707.

[2020-01-09 17:23] #453 closed

[2020-01-13 16:29] oschuett opened #458 "Communicator leakage"
Using LSAN, I discovered that SIRIUS + CP2K is leaking memory at the following locations:
[code]

[2020-01-13 16:40] toxa81 commented on #458
Hi @oschuett ! Are this four different cases? Or part of a single trace?

[2020-01-13 16:43] toxa81 commented on #458
First three are calls to MPI library. Something is leaking there. Valgrind reports the same.

[2020-01-13 16:49] oschuett commented on #458
Sorry, these are four different cases. Here are the full traces:
[code]

[2020-01-20 00:32] zhujunmian opened #462 "Build with Cmake with CUDA support"
How to build the SIRIUS with cuda support by cmake? Should I set `CUDAROOT` or is the GPU-enabled version only works for other versions?

[2020-01-20 07:19] simonpintarelli commented on #462
Having `nvcc` in your path should work, you can check using the command `which nvcc`. According to the cmake documentation
https://cmake.org/cmake/help/v3.16/module/FindCUDA.html?highlight=findcuda
you can also set the `CUDA_TOOLKIT_ROOT_DIR`:
`cmake -D CUDA_TOOLKIT_ROOT_DIR=/path/to/cuda`.

[2020-01-20 08:38] toxa81 commented on #462
and also, you need to add -DUSE_CUDA=1 -DGPU_MODEL='P100' to the cmake command

[2020-01-22 13:45] toxa81 opened #464 "keep master branch only"
@simonpintarelli @mtaillefumier @AdhocMan

Guys! How about keeping `master` branch only. It will be updated only through pull requests. On your local git clone you will do
[code]
and here you will open a pull-request from `feature_xyz` branch to `master`. The master branch will always be up-to-date with recent developments.

[2020-01-22 14:14] #462 closed

[2020-01-23 06:37] mtaillefumier commented on #464
it is fine by me and would simplify a lot handling new versions etc...
And remove confusion for the user. So I am all in with a twist. Right
now the versioning mechanism we have a little bit confusing because
incrementing the minor version might involve large changes of code in
master. To avoid that, i would suggest to create a branch for each
version (for instance 6.4) and put all small correctio

[2020-01-24 12:04] toxa81 commented on #458
Hi @oschuett
Do you call sirius_free_handler(sim_ctx) before calling sirius_finalize()? This is probably what causing a leakage.

[2020-01-24 12:43] oschuett commented on #458
No, it [seems](https://github.com/cp2k/cp2k/blob/master/src/pwdft_environment_types.F#L119) we are not doing that. I'll look into it.

[2020-01-27 09:19] AdhocMan commented on #464
I just came across desribing a model using a devlop branch:
[https://nvie.com/posts/a-successful-git-branching-model/](https://nvie.com/posts/a-successful-git-branching-model/)
This might be a good workflow to follow.

[2020-01-27 13:27] oschuett commented on #458
Indeed, calling `sirius_free_handler` eliminates the three leaks in SIRIUS. However, the leak in SpFFT remains. Do you have a quick fix for that as well, or should I submit what I have for now?

[2020-01-27 14:01] toxa81 commented on #458
Hi @oschuett
We suspect that you also have to destroy the gs_handler and ks_handler objects (in the reverse order of creation) using the same sirius_free_handler() function. And then, finally destroy sctx.

[2020-01-27 16:09] oschuett commented on #458
It worked! Thanks for the help :-)

[2020-02-24 12:33] toxa81 commented on #464
In [that article](https://nvie.com/posts/a-successful-git-branching-model/) everything is reasonable except for the marginal difference between `develop` and `release` branches. They are really identical because whatever you add to the `release` branch, you immediately want to merge into the current `develop`. Thus, I would like to propose a slightly simplified process:
![git_process 001](https://

[2020-04-18 14:29] toxa81 opened #489 "Use grid2grid"
There are several places where we perform reshuffling of wave-functions
 - for the FFT on a coarse mesh (to apply H_loc)
 - when we pass wave-functions from SIRIUS to QE
 - when we pass plane-wave coefficients between QE and SIRIUS

The idea is to switch to Marko's (@kabicm) grid2grid library. This will introduce another dependency, but reduce the amount of "custom" code in SIRIUS.

[2020-04-20 11:04] kabicm commented on #489
A great idea @toxa81! I would be happy to help with this :)

[2020-05-21 12:03] oschuett commented on #309
+1 for using proper Fortran strings.

Currently, in CP2K the terminating null character is passed on to [keyword_create](https://github.com/cp2k/cp2k/blob/master/src/input_cp2k_pwdft.F#L178) and causes trouble problems [later on](https://github.com/cp2k/cp2k/blob/master/tools/docker/scripts/test_manual.sh#L28). It should be rather straightforward to add/remove the null chars within the SIRIUS Fort

[2020-05-22 08:58] toxa81 commented on #309
@oschuett I'm on it. There will be several changes which will break the current API, but will make interface better. I'm starting with passing native Fortran strings and logical variables. Then I'll see if I can improve the passing of arrays.

[2020-05-27 16:34] toxa81 commented on #309
@dev-zero , @oschuett
I'm slowly cleaning up the F90 interface. A quick question: is it possible to force Fortran to not compile this code?

[code]

Properly is should be `call foo(aa)`

[2020-05-27 19:28] oschuett commented on #309
Within Fortran you can use the [C Preprocessor in the traditional mode](https://gcc.gnu.org/onlinedocs/gfortran/Preprocessing-and-conditional-compilation.html). If that doesn't solve your problem, maybe you could elaborate a bit about your goal?

[2020-05-28 06:26] toxa81 commented on #309
I want to pass arrays as arrays. Right now, in the example above, the `foo` subroutine takes array as argument, but the main program calls `foo(aa(1))` and it works. Is there a way to disallow that?

[2020-05-28 08:14] dev-zero commented on #309
I have to dive into the standard again to check why that works and what it implies. So far I wasn't able to make the compiler error out (tried gfortran 10, Intel Fortran). Best bet if someone has access to it would be the NAG compiler. flang might also be a possibility since we only need parsing, no code generation.

[2020-05-28 09:34] oschuett commented on #309
I think this is fine. At least gfortran is smart enough to detect when you pass in an array that is too small:

[code]

[code]

[2020-05-29 16:09] toxa81 commented on #309
Dear @dev-zero and @oschuett !
This is a test of the preliminary new API:
https://github.com/toxa81/SIRIUS/blob/sirius-7.0.0/apps/tests/test_fortran_api.f90
I can pass strings, logical and array variables as native Fortran. Do you think this is sufficient for CP2K?

[2020-06-05 12:24] oschuett commented on #309
Looks good to me. The only reminiscence of the C bindings are the various handlers:
[code]
Are they all interchangeable? Otherwise, you could wrap them into Fortran types to be on the safe side.

[2020-06-05 13:06] toxa81 commented on #309
Do you mean if I can pass by mistake a C_PTR handler to a wrong subroutine? Yes and it will crash the code. But I assume that introducing the type for each C_PTR handler is a nice extra feature, but not a critical one.

[2020-06-05 13:46] oschuett commented on #309
Right, that's just a nice to have.

[2020-06-15 20:29] haampie opened #505 "Invalid write cusolverDnDsyevd"
Bisecting a memory issue with git leads to a bug introduced in one of these commits:

[code]

When just malloc'ing instead of using the memory pool the issue disappears.

[2020-06-16 10:11] haampie commented on #505
Fixed by #506

[2020-06-16 10:11] #505 closed

[2020-06-23 09:20] toxa81 opened #507 "Move to new Fortran API"
@mtaillefumier @simonpintarelli @AdhocMan @haampie

I plan to update the Fortran API. I propose to merge everything which is stable to `master` branch and tag it. Then I will update the `develop` branch with the new API and make a new `pre-release`. At this moment, QE and CP2K need to be adjusted to the new `pre-release`. Do you seen any obvious problems that I missed?

[2020-06-23 09:27] haampie commented on #507
Seems fine to me. Is there any advantage of keeping the develop branch around actually?

[2020-06-23 09:30] toxa81 commented on #507
@haampie Yes, it helps to test new functionality. We had a short discussion here
https://github.com/electronic-structure/SIRIUS/issues/464

[2020-06-23 09:53] haampie commented on #464
Hadn't seen this issue before, so let me share a few thoughts.

I have never really understood the use for the develop branch in the successful-branching-model-article. If it's supposed to be a shared branch, things have to necessarily work already for it to make sense, so why can't it be in master? That simplifies releasing new versions and makes it clear where the latest code is and where to sub

[2020-06-23 10:09] mtaillefumier commented on #464
The develop branch can be useful for instance when you refactor things that touch the core of the code but you do not have enough test coverage of the new code. I am facing this right now with CP2K which does not have a develop branch (they also have this clean linear history policy, no comments) so any pull request with "incomplete feature" will automatically affect everyone, something you do not

[2020-06-23 10:11] mtaillefumier commented on #464
To be also noted. The linux kernel does not have official devel branch but they have a separate linux-next repository that mimic the devel branch to some extend.

[2020-06-23 10:12] haampie commented on #464
Yeah, I see it can be useful, but I don't immediately see the difference with just keeping a pull request open for a bit longer instead of directly merging it into master.

[2020-06-23 10:13] mtaillefumier commented on #507
It seems fine to me as well. I will adjust cp2k when the new interface is in develop.

[2020-08-01 21:57] oschuett opened #513 "Crashes with nvidia/cuda:11.0-devel-ubuntu20.04"
I tried upgrading our Docker base image to `nvidia/cuda:11.0-devel-ubuntu20.04` and got [a lot of crashes](https://storage.googleapis.com/cp2k-ci/run-cp2k-cuda-pascal-0bf9f458_report.txt) like this:

[code]

[2020-08-02 14:51] haampie commented on #513
One hard requirement for cuda 11 is spfft 0.9.12, you seem to be using 0.9.11. It seems though, that things are crashing earlier than the calls to spfft, though.

[2020-08-02 20:30] simonpintarelli commented on #513
I can reproduce it on my laptop. It seems that depending on the size of the card CUDA does not like if a large amount of streams are created. As a hotfix you can remove the `+100` from https://github.com/electronic-structure/SIRIUS/blob/develop/src/sirius.hpp#L107 before we have definite fix.

[2020-08-02 20:35] oschuett commented on #513
@haampie, thanks for the quick reply and the PR!

Unfortunately, just upgrading to SIRIUS 6.5.5 and SpFFT 0.9.12 seems to be [not enought](https://storage.googleapis.com/cp2k-ci/run-cp2k-cuda-pascal-d06a029a_report.txt).

Following your advice, I submitted an [experiment](https://github.com/cp2k/cp2k/pull/1012/commits/81b0bb422d65743663eb588ea7c42185490218d3). Let's [see](https://storage.googleapi

[2020-08-02 20:56] oschuett commented on #513
Ok, with `-maxtasks 8` the tests are passing for me too :-)

@simonpintarelli, thanks for chiming in! I assume without the `+100` we risk other problems?

So, I think I'll just wait with the upgrade.

[2020-08-02 21:24] simonpintarelli commented on #513
@oschuett grepping through the code I haven't yet found a case where it looks problematic. But we should wait for Antons @toxa81 opinion.

[2020-08-06 13:35] oschuett commented on #513
This has been resolved with [release 6.5.6](https://github.com/electronic-structure/SIRIUS/releases/tag/v6.5.6).

[2020-08-06 13:35] #513 closed

[2020-08-06 13:46] oschuett opened #520 "Possible race condition in sirius_initialize / sirius_finalize."
Our [farming test](https://dashboard.cp2k.org/archive/farming/index.html) shows that `SIRIUS/regtest-1/He-full-potential.inp` is flaky, e.g. [here](https://dashboard.cp2k.org/archive/farming/commit_2a254cd6664e4ee9f48dc3c43bf55c3a0ef6dab5.txt).

A possible suspect is the [upgrade to SIRIUS 6.5.2](https://github.com/cp2k/cp2k/commit/f2ee233f29a848c692a1c097c5a48bb48eb20c22). However, I think the mo

[2020-08-06 15:31] toxa81 commented on #520
Hi Ole! From the output I see that the total energy in He is wrong. Is is the main issue, or is there something else in the output?

[2020-08-06 15:41] haampie opened #521 "spack install all the things"
This issue is to keep track of things we cannot yet install with `spack`. The obvious missing specs:

- [x] `elpa +cuda`: elpa is spack-installable, but we have to make it a CudaPackage upstream
- [x] `+rocm`:
  - [x] https://github.com/spack/spack/pull/18069
  - [x] https://github.com/spack/spack/pull/18068
  - [ ] hipMAGMA

pinging @simonpintarelli

[2020-08-06 15:44] oschuett commented on #520
Hi Anton, yes the total energy in He is wrong. However, it only happens sometimes and only in the farming test.

Regarding my original comment, I realized `sirius_initialize` / `sirius_finalize` can not actually overlap because they are not called within a parallel region. Nevertheless, farming is the only test where we re-initialize SIRIUS.

[2020-08-06 15:51] toxa81 commented on #520
I have something similar in the tests on Piz Daint. I call `srun -C gpu -N 4 ./test_script.x` and inside the script there is a loop over tests and which one is executes with mini-app. So there are multiple `sirius_initialize / sirius_finalize` calls within a single srun command. This fails randomly on different tests, somewhere inside MPI_Init(). This is not exactly what you have here, but might b

[2020-08-06 16:22] oschuett commented on #520
Yes, they could be related. Your reproducer seems a lot more handy than mine. Note that in my case I'm **not** using the GPU.

[2020-08-20 08:29] haampie opened #533 "GPU calls in CPU mode"
At various places we have `if (acc::num_devices() > 0) { ... }` which still gets executed in CPU mode when you have the hardware. I just noticed this because I didn't have the fix for the excessive amounts of streams yet, and `acc::create_streams` made tests fail on Daint even though `--control.processing_unit=cpu`

[2020-08-20 08:38] toxa81 commented on #533
A valid point. But the case `GPU is here, but run on CPU` is mostly for debug purpose. It should not be used in production.
The more likely case `code compiled with GPU support, but no GPU device found` should be handled properly.

[2020-08-20 08:44] haampie commented on #533
Yeah, I see, my real issue in the end appears to be not having set CRAY_CUDA_MPS=1. Running multi process MPI tests in CPU mode on a single node with a GPU doesn't work otherwise

[2020-08-20 08:45] simonpintarelli commented on #533
the `if(acc::num_devices)` is used to guard calls to GPU functions if there is no device. A system without a device, but with GPU enabled code can be simulated using `export CUDA_VISIBLE_DEVICES` (should work). But it would make sense if we disable at least the creation of streams if the processing unit is CPU.

[2020-08-20 09:07] toxa81 commented on #533
Agree. But this happens very early in the sirius::initialize(). This function should get information about CPU device as soon as possible. We can pass the information found in the command line or use a hacky" solution with environment variables. Say, `export SIRIUS_PU_DEVICE=CPU' will be the only way to control a device to use.

[2020-08-21 10:41] haampie opened #539 "test failure `sytrf returned 1`"
- https://gitlab.com/cscs-ci/electronic-structure/SIRIUS/-/jobs/697370010
- https://gitlab.com/cscs-ci/electronic-structure/SIRIUS/-/jobs/708500528
- https://gitlab.com/cscs-ci/electronic-structure/SIRIUS/-/jobs/720599740
- https://gitlab.com/cscs-ci/electronic-structure/SIRIUS/-/jobs/720599743
- https://gitlab.com/cscs-ci/electronic-structure/SIRIUS/-/jobs/712341857

Seems like some issue with th

[2020-08-27 09:55] toxa81 commented on #539
My big problem with this kind of error is that it doesn't happen always. Depending on the way it approaches the convergence (which slightly depends on the OMP threading) it might or might not appear :-/

[2020-09-29 10:04] haampie opened #566 "Automated benchmarking"
How about we add a simple github bot s.t. you can trigger benchmarks on PRs and individual commits.

**benchmarks:** Have a separate repo with benchmark problems

**triggering:** by commenting on github on PRs or individual commits
 - `@sirius_bot bench` -- just run benchmarks on this PR or commit
 - `@sirius_bot bench vs develop` -- run both this PR or commit and develop and compare
 - `@sirius_b

[2020-09-29 10:08] toxa81 commented on #566
I'm 100% for that!

[2020-09-29 10:38] haampie commented on #566
Some more thoughts:

- I guess it is easiest to always build and benchmark both the 'current' and 'target' commits when commenting `@sirius_bot bench vs [target git ref]` instead of looking up whether a benchmark had already run on a certain commit.

Thing I'm not sure about:
- If we use spack, what version do we use? It's easiest to use the docker images we already have in CI, but they always hav

[2020-09-29 13:17] toxa81 commented on #566
We should aim at build reproducibility, this is for sure. We can concretise the spack builds. Say, we build with a given version of gcc and given version of libxc, spfft, etc. This should not depend much on the version of spack. To be on a safe side, we can use the fixed version of spack.

I envision this like that: each night the (one built) fixed version of qe-sirius is benchmarked. This is to t

[2020-09-29 15:05] mtaillefumier commented on #566
Indeed, I do not think the version of spack will change anything concerning reproducibility. The version of the compiler and other dependencies is far more important. But keep in mind that we can not test all possible combination.

We could go for instance with one build where all dependencies are fixed to reasonable versions and one build where everything is to the latest. The first case would al

[2020-09-29 15:23] simonpintarelli commented on #566
I think it would make sense to keep the dependencies (libxc, etc.) fixed, perhaps one could also use the versions which are used in daint EB modules. Triggering the benchmarks manually makes sense to me.

[2020-09-30 10:44] haampie commented on #566
I'll just go for something along those lines:

- Be reasonably specific about versions of dependencies/compilers; I think I would just fix the minor version of deps, but keep the patch version open so we do get bug fixes from upstream.
- Build environment images: these are big, so let's just have one `latest` version per benchmark setup. This is what we do in normal CI too. Here we ensure there's

[2020-09-30 10:57] mtaillefumier commented on #566
All this is reasonable. Patch versions is also fine I think.

[2020-10-07 12:41] haampie commented on #566
This is mostly implemented, except that you cannot really benchmark yet against old tagged versions that are lacking the `package.py` in the repo itself.

[2020-10-07 12:41] #566 closed

[2020-10-26 13:58] toxa81 opened #578 "Hubbard orbitals"
This is a placeholder to discuss the indexing of Hubbard orbitals. In QE Hubbard orbitals can be generated either from pseudo-atomic radial wave-functions (stored in the UPF) or from the Wannier functions.

**Atomic orbitals**

UPF files can be of two kinds: "normal" and "relativistic". In the first case pseudo-atomic orbitals are labeled by orbital quantum number ℓ={s,p,d,f}. In the second case p

[2020-10-26 19:07] toxa81 commented on #578
For SIRIUS we should change the way Hubbard orbitals are loaded. We either set the atomic orbital for a particular ℓ-channel (allow multiple ℓ-channels) or we set plane-wave coefficients of the Wannier orbital. In the former case we give either a scalar orbital and provide ℓ or spinor orbital and provide j. The m-index will be expanded later by SIRIUS. In the later case we should set ℓ and then pr

[2020-10-27 08:52] mtaillefumier commented on #578
I reopened a book of quantum mechanics (unfortunately not Landau Lipschitz because I do not where the book is) to check how the orbital should look like in presence of SO. So according to the theory the radial part of the wave functions depend only n and j not j_z. So your description of the pseudo-wave functions is reasonable. The pseudo potential should have two radial wave functions for each (n

[2020-10-27 10:42] timrov commented on #578
Hi guys,
A few points:
- Wannier functions are not currently supported. Recently I have started working on this. I made progress on the spin-unpolarized case. Now I am working on the collinear spin-polarized case, and indeed I started thinking that now WFs depend on the spin index and so this is different from the 'atomic' case which does not depend on spin indices.
- So far I have been working on

[2020-10-27 12:05] mtaillefumier commented on #578
Hi Lurii,

On 10/27/20 11:43 AM, Iurii Timrov wrote:

In that case, we can only store the up or down component of the spinor
but it only works (from a theory standpoint) when the pps are non
relativistic. QE uses the full spinor for non-colinear magnetism in
general. I do not remember what implementation they chose for the
colinear one. As for SIRIUS, we have

- colinear magnetism : I think only o

[2020-10-27 12:29] haampie commented on #578
To add to @mtaillefumier's comment; a few differences I know of: the mixer code in SIRIUS is different form QE, and in the Davidson solver SIRIUS implements eigenvector locking, which is not implemented in QE. Probably there's more differences.

[2020-10-27 12:32] mtaillefumier commented on #578
On 10/27/20 1:30 PM, Harmen Stoppels wrote:

Indeed, it is something I omitted in my reply. But it is true. There are
technical differences (sometimes major) between the two codes but they
try to solve essentially the same problem. :)

[2020-10-27 16:12] timrov commented on #578
Thanks for your replies!

As far as I know, there is no need in relativistic DFT. QE solves Pauli equations (for two-component spinors) and using fully-relativistic pseudopotentials. See e.g. sections 2.2.2(c) and 2.2.2(d) in my PhD thesis: https://pastel.archives-ouvertes.fr/pastel-00823758/

[2020-10-27 16:20] mtaillefumier commented on #578
On 10/27/20 5:12 PM, Iurii Timrov wrote:

Hopefully not. Solving Pauli equations should be enough in many cases.
The reading was interesting actually. I am not sure to understand what
you call fully-relativistic pseudopotentials. If these pps generated
from the Pauli equation for atoms or from the Dirac equation.

[2020-10-27 16:25] timrov commented on #578
Fully-relativistic PPs are generated by solving a Dirac equation for an atom. But we do not need to solve a Dirac equation in a solid (instead we solve a Pauli-type equation + fully-relativistic PPs, which is much cheaper and accurate enough).  I recommend to read the introduction of this paper: A. Dal Corso, Phys. Rev. B 82, 075116 (2010).

[2020-10-27 16:27] mtaillefumier commented on #578
On 10/27/20 5:26 PM, Iurii Timrov wrote:

thanks, I will.

[2020-10-27 16:50] haampie opened #579 "Generalized Broyden 2 mixing"
Our current Broyden 2 mixer has some clever representation of the approximate inverse Jacobian to efficiently apply it to residual vectors. But the performance is poor most likely because the Jacobian is not forced to satisfy the secant equation for previous iterations other than the very last one. There's many ways to improve the mixer by taking more information from the previous ℓ iterations int

[2020-11-03 12:24] haampie commented on #579
So, our broyden1 code is actually implementing an unstable version of this where Gₙ = -βI in the update Gₙ₊₁ = ...  (so, no further recursion). This is called Anderson mixing or Anderson acceleration in literature. Maybe we should rename the mixer?

I've implemented a prototype version of this that's stabilized by Gram-Schmidt to orthogonalize ΔFₙ on the go. Basic premise is the condition number o

[2020-11-03 15:33] toxa81 commented on #578
Iurii @timrov , can I assume that the case of spin-orbit + Hubbard is not going to be used in the nearest future? If it is important, how the localized atomic orbitals look like in this case? Are they pure spinors, constructed from the pseudo-atomic radial functions? Or something else?

[2020-11-03 15:40] timrov commented on #578
Hard to say. There is a PhD student in our group who is planning to work on that. So, in the best case scenario, it can be implemented in ~2 years (but this is not guaranteed, because I do not know how it will go).

I do not know, I haven't though about this yet. I would suggest to postpone this case for later.

[2020-11-25 11:36] #579 closed

[2020-11-25 11:37] #539 closed

[2020-12-18 17:00] maurosgroi opened #596 "Compilation of Windows 10 with Cygwin64"
Dear developers,
my name is Mauro Sgroi.
I'm trying to compile Sirius 7.0.2 using SpFFT 0.9.13 on windos 10 using Cygwin64.
My cmake command is:

CXX=mpicxx CC=mpicc FC=mpif90 LIBXCROOT=/home/sgroi/apps/libxc LIBSPGROOT=/home/sgroi/apps/spglib cmake ../ -DSpFFT_DIR=/home/sgroi/apps/source/SpFFT-0.9.13/cmake/ -DCMAKE_INSTALL_PREFIX=/home/sgroi/apps/sirius

I get the following error:

CMake Error at

[2020-12-18 22:28] simonpintarelli commented on #596
Hello Mauro,

have you installed SpFFT, or is `/home/sgroi/apps/source/SpFFT-0.9.13` pointing to the source directory?

[2020-12-19 08:41] maurosgroi commented on #596
Dear Simon,
thanks a lot for the help.
I'm using the source directory.
Should I proceed in a different way?
Best regards,
Mauro.

[2020-12-19 09:19] simonpintarelli commented on #596
Yes, all the dependencies need to be installed, e.g. in case of `SpFFT` and `SPLA` using `cmake`, `make`, `make install`. Instead of installing it under Windows (we never tried compilation under windows so far), you could also use a docker container with preinstalled binaries. We could upload a container to dockerhub. Would this also work for you?

[2020-12-19 21:52] maurosgroi commented on #596
Dear Simon,
thanks a lot.
I'm not sure I can install docker on my PC since it is a company computer.
I also tried to compile SpFFT but I don't know how to get it recognised by cmake in compiling SIRIUS.
Which directives should I use?
Is -DSpFFT_DIR correct? And for SPLA?

Thanks a lot and best regards,
Mauro.

[2020-12-19 22:04] simonpintarelli commented on #596
Hi Mauro,

setting `CMAKE_PREFIX_PATH` to the installation directory, e.g. `/path/to/spFFT` which contains `lib` and `include`.
Same for SPLA, e.g. `CMAKE_PREFIX_PATH=/path/to/spFFT:/path/to/SPLA` (separated by `:`) should work.

[2020-12-21 22:25] maurosgroi commented on #596
Dear Simon,
I managed to compile SpFFT and SPLA. Sirius now founds them correctly and cmake works with no errors.
I used the following command:
CXX=mpicxx CC=mpicc FC=mpif90 SCALAPACKROOT=/home/sgroi/apps/scalapack LIBXCROOT=/home/sgroi/apps/libxc LIBSPGROOT=/home/sgroi/apps/spglib cmake ../ -DCMAKE_PREFIX=/home/sgroi/apps/sirius -DCMAKE_PREFIX_PATH='/home/sgroi/apps/spFFT;/home/sgroi/apps/spla;/h

[2020-12-21 22:34] simonpintarelli commented on #596
Yes, it should be possible to comment `execinfo.h`, then you also need to comment the body of the function:
https://github.com/electronic-structure/SIRIUS/blob/develop/src/gpu/acc.hpp#L120

It is used for the backtrace, but only called from device accelerated parts of the code, so it should not do any harm if you run on cpu.

[2020-12-22 08:35] maurosgroi commented on #596
Dear Simon,
it works!
Thanks a lot and best regards,
Mauro.

[2020-12-23 12:47] #507 closed

[2020-12-27 19:33] toxa81 commented on #400
Dear @yurivict ! It should be possible now to build the library with and without `git` command and `.git` working folder. Can this issue be closed?

[2020-12-27 19:47] yurivict commented on #400
I will try it, thanks!

[2020-12-27 19:47] #400 closed

[2021-02-01 12:32] toxa81 commented on #578
@mtaillefumier
I'm trying to formalize the JSON input schema for the U,V correction parts. We need to provide 1) on-site iteration terms  2) off-site interactions. My first attempt looks like this
[code]
Does it look reasonable/obvious?

[2021-02-01 12:37] mtaillefumier commented on #578
It is reasonable I think. I doubt anyone will use this directly except us. One thing I would add is the displacement vectors because we may want to have atom pairs that extend further than the unit cell. if not given then we can maybe assume [0,0,0], if not we just have to indicate for instance

` "displacement" : [0, 0, 1] `

[2021-02-01 12:42] timrov commented on #578
In the new version of QE we want to do something similar: to have [i,j,k] where i,j,k=-1,0,+1 to indicate neighbouring cells.

[2021-02-01 12:44] mtaillefumier commented on #578
I think it is a reasonable way to describe interactions with neighboring cells. It also avoid computation of the atom coordinates inside the input file.

[2021-02-01 12:49] toxa81 commented on #578
of course, I completely forgot about the the displacements!
[code]

[2021-02-01 12:50] toxa81 commented on #578
U is a list of on-site interactions, V is a list of off-site interactions. For V, is ``` "l": [2, 1] ``` self-evident?

[2021-02-01 13:05] timrov commented on #578
Well, to me it is evident

[2021-02-01 13:30] mtaillefumier commented on #578
to me as well.

On 2/1/21 2:05 PM, Iurii Timrov wrote:

[2021-02-13 15:53] #315 closed

[2021-04-16 16:54] ltalirz opened #621 "sirius conda package on conda-forge?"
Hi guys, I was wondering whether there is interest in creating a conda package for sirius.

While a conda sirius won't get you optimal performance for your machine, the pre-built binaries make it much easier and faster for new prospective users to give it a try.

Most of the core Sirius dependencies already are on conda-forge; I guess one would just need to add spfft and spla.
There is even a way

[2021-04-16 21:27] toxa81 commented on #621
@AdhocMan Simon, if it starts from spla and spfft, can I ask you to have a look?

[2021-04-18 09:05] AdhocMan commented on #621
I don't have any experience writing conda packages, but I'd certainly be happy to help.
This is a first attempt for SpFFT, which seems to be working, and may be useful as a starting point:
[code]
And build.sh:
[code]

[2021-04-19 09:46] ltalirz commented on #621
thanks a lot @AdhocMan for preparing the recipe
I just opened a corresponding PR to conda-forge https://github.com/conda-forge/staged-recipes/pull/14605

do you agree that I list you among the maintainers of the conda feedstock for spfft?
nowadays, the update process of conda-forge packages is largely automated (e.g. it should realize when you make a new spfft release on github, and then will auto

[2021-04-22 11:46] toxa81 commented on #621
Hi Leopold @ltalirz! Just out of my personal curiosity: why do you need Sirius package on Conda? Do you distribute CP2K/QE/SIRIUS packages for AiiDA users through Conda-forge?

[2021-04-22 12:14] ltalirz commented on #621
Hi Anton, thanks for asking.

If you have the binaries of your code on conda-forge, you can e.g. publish a conda `environment.yml` together with a paper and thereby make it very easy for others to reproduce your results.
With respect to other package managers, the advantage of conda is the multi-platform support (windows, linux, mac + different processor architectures) as well as their great CI se

[2021-04-27 09:08] ltalirz commented on #621
thanks a lot for taking this up, in particular @AdhocMan !

https://github.com/conda-forge/sirius-feedstock

Next on my list is to enable the sirius switch in the cp2k conda package ;-)

[2021-04-27 09:08] #621 closed

[2021-05-10 16:41] #13 closed

[2021-05-20 18:11] ltalirz commented on #596
if there is indeed interest in running sirius on windows, and it apparently works, would you be interested in adding a windows build to the [sirius conda feedstock](https://github.com/conda-forge/sirius-feedstock) so that everybody can profit from this?

I opened a PR here just to see what would still be missing https://github.com/conda-forge/sirius-feedstock/pull/3

[2021-05-20 18:15] ltalirz commented on #596
Ah, after more careful reading I see that in the end you resorted to docker here.
Let's see what pops up in the PR

[2021-05-20 18:27] haampie commented on #596
FWIW, you can also just install SIRIUS and its dependencies from sources on WSL2 natively for your architecture using spack, so that you get native compilation instead of generic binaries:

[code]

[2021-05-21 13:28] dev-zero opened #632 "`error: lvalue required as unary '&' operand` when building SIRIUS with gcc/9.3.0 on Alps (Eiger)"
As part of installing CP2K via Spack:

[code]

[2021-05-23 13:58] mkrack opened #635 "CMake built for SIRIUS 7.0.2 with Intel/MKL 2021.* is failing"
Intel/MKL 2021.* provides no link `libmkl_def.so` to `libmkl_def.so.1`.
Changing SIRIUS-7.0.2/cmake/modules/FindMKL.cmake:73 from
[code]
to
[code]
is a possible fix.

[2021-05-24 09:36] #632 closed

[2021-06-01 12:20] toxa81 commented on #635
@simonpintarelli can you please have a look?

[2021-06-01 15:05] simonpintarelli commented on #635
@mkrack Thank you for reporting this. I checked with intel-oneapi-mkl installed via spack and the link is indeed missing. Should have affected only the python api though, the rest does not link against it. It should be fixed in: #640

[2021-06-29 11:50] antoscha opened #652 "Compiling issue"
[code]

[2021-06-29 11:53] toxa81 commented on #652
Hi @antoscha ! What is the compiler?

[2021-06-29 12:04] mtaillefumier commented on #652
I did not write the spack script so i can not answer this question. It is simple to correct though.

[2021-06-29 12:05] haampie commented on #652
It's already there, just disabled by default, let me add it

[2021-06-29 12:44] haampie commented on #652
Seems like this was already fixed on develop, see https://github.com/electronic-structure/SIRIUS/pull/633. Tests are passing in #653 too

[2021-06-29 13:28] antoscha commented on #652
I see, this issue duplicates #632
Excuse me for troubling

[2021-06-29 13:28] #652 closed

[2021-06-29 13:40] toxa81 commented on #652
I just tagged https://github.com/electronic-structure/SIRIUS/releases/tag/v7.2.5

[2021-07-01 18:58] mkrack commented on #635
@simonpintarelli Many thanks for fixing the issue.

Now, for SIRIUS v7.2.5 another problem appeared related to SpFFT and FindMKLSequential:
[code]
It seems that the path defined line 22 of `SpFFT/1.0.3/lib/cmake/SpFFT/SpFFTStaticConfig.cmake`
`set(CMAKE_MODULE_PATH "${CMAKE_CURRENT_LIST_DIR}/modules")`
is wrong, since
`set(CMAKE_MODULE_PATH "${CMAKE_CURRENT_LIST_DIR}/../spfft/modules")`
works, but

[2021-07-01 19:39] simonpintarelli commented on #635
@AdhocMan can you please have a look? Same versions are working for me with spack.

[2021-07-02 07:47] AdhocMan commented on #635
That was indeed a bug with the installation location of CMake modules. These are only used for the static library, so this hasn't shown up with the usual shared library builds.
There is now a new release that should fix this issue: https://github.com/eth-cscs/SpFFT/releases/tag/v1.0.4

[2021-07-02 08:05] mkrack commented on #635
@AdhocMan many thanks for the quick fix. Now, the SIRIUS build works fine with Intel/MKL using SpFFT.

[2021-07-02 08:06] #635 closed

[2021-07-16 09:21] dev-zero opened #662 "API: advertised parameters not available anymore"
Essentially the SIRIUS side of https://github.com/cp2k/cp2k/issues/1590

[code]

It seems that the options were changed from 7.0 to 7.2 and neither the `options.json` nor the verification tests or examples were updated. I started looking into how to fix this quickly, but I wonder why there are two divergent JSON schemas `options.json` and `input_schema.json`.

[2021-07-18 20:40] toxa81 commented on #662
Hi Tiziano! `input_schema.json` is a clean re-implementation of `options.json`. In future we plan to remove `options.json`, but to do so a few API functions that work with CP2K have to be updates as well.  Inside SIRIUS only  `input_schema.json` is used.

[2021-07-19 11:17] dev-zero commented on #662
@toxa81 ok, thanks. Any ETA on that? Some options (like `potential_tol`) can currently not be set from CP2K (with release versions of CP2K and SIRIUS).

[2021-07-19 11:25] toxa81 commented on #662
We need to ask @mtaillefumier for a help.

[2021-07-19 11:31] mtaillefumier commented on #662
I am off the all week but I will look into it.

I can say that we changed some option names (the option schema Anton introduced recently). I am working on using the option schema for the cp2k input parameters. I did not finish this work though (I was hopping to finish it last week). It will need a PR and new version of SIRIUS and a PR for cp2k.

[2021-11-24 21:39] dev-zero opened #693 "Setting RMT_MAX in control affects GK_CUTOFF calculation based on RMT_min"
According to the documentation, GK_CUTOFF is calculated based on the AW_CUTOFF and the minimal muffin tin radius, taken from the element definition. This works, but as soon as I set RMT_MAX in the control section, the GK_CUTOFF changes while I'd expect the GK_CUTOFF calculation to remain the same and only the final muffin tin radius to be set to a max of of RMT_MAX.
Based on the naming of the vari

[2021-11-24 21:40] dev-zero commented on #693
... with sirius v7.2.7

[2021-11-24 22:58] toxa81 commented on #693
Hi Tiziano! Out of curiosity, can you provide a unit cell definition and initial MT radii (I guess they come from the species files). There is an extra-step in blowing up the muffin tin spheres which might affect the minimum found radius. I agree that it is unexpected behavior for the parameter of the the "control" section. I can move rmt_max out of there. The problem with automatic determination

[2021-11-25 10:19] dev-zero commented on #693
will be able to provide the files in the evening or on the weekend, until then, I've generated the basis with: `atom --symbol=C` and then tried the same input once with `RMT_MAX 1.1` and once without, and the calculated GK_CUTOFF changed (with a C4 system) while I expected the cutoff to always being calculated with the RMT_MIN of `0.65`.

[2021-11-25 10:22] dev-zero commented on #693
basically trying to reproduce the exciting run from here: https://nomad-lab.eu/prod/rae/gui/entry/id/hyn062OhTxuVIXHALACrgg/Qh4POC5Q8Zea_gDgBIG9rcd03xhR/raw, now trying with a basis generated with `atom --symbol=C --core=1.1`.
Also, there seems to be some stability issues when it comes to using larger GK_CUTOFF (usually accompanied with a warning about negative interstitial charge), which makes it

[2021-11-25 10:54] toxa81 commented on #693
@dev-zero this is a good link, I can start from here

[2021-11-25 15:40] dev-zero commented on #693
ok, so far it seems independent of the RMT, but as soon as the GK_CUTOFF is larger than ~7 convergence becomes difficult

[2021-11-27 12:40] toxa81 commented on #693
I checked the calculation. Its a high-accuracy run with hand-crafted species file. I will send you the carbon species. With mixing beta=0.3 it converges for a coarse [2,2,2] k-grid.

[2021-12-10 13:53] toxa81 commented on #309
We introduced types for handlers, this was the missing bit to close the issue

[2021-12-10 13:53] #309 closed

[2021-12-10 14:00] toxa81 opened #696 "Switch to Umpire memory pool"
Get rid of custom memory pool and use an external library.

[2021-12-10 14:01] toxa81 commented on #662
@mtaillefumier @dev-zero @oschuett
are we OK to close the issue? I think this is polished now

[2021-12-10 14:05] toxa81 commented on #596
@maurosgroi @simonpintarelli @haampie @ltalirz
Is the issue resolved? Can I close it?

[2021-12-10 14:06] toxa81 commented on #521
@AdhocMan what is the latest status of MAGMA/ROCm? Can it be installed with spack?

[2021-12-10 14:07] toxa81 commented on #385
@mtaillefumier is this issue resolved now?

[2021-12-10 14:07] toxa81 commented on #520
@oschuett is the issue resolved?

[2021-12-10 14:08] simonpintarelli commented on #596
IMHO it's fine to close it.

[2021-12-10 14:08] #596 closed

[2021-12-10 16:30] AdhocMan commented on #521
It looks like ROCm support is part of the magma package now. But I haven't tested it myself.

[2021-12-10 17:11] mtaillefumier commented on #385
We close this one as well.

[2021-12-10 17:11] #385 closed

[2021-12-10 19:59] toxa81 opened #697 "Unify the Davidson solvers"
Right now there are 4 conceptually similar but different in implementation Davidson solvers for PW-PP and FP-LAPW to solve H|psi> = e*S|psi> and S|phi> = o*|phi> eigen-problems. This should be simplified.

[2021-12-10 20:24] oschuett commented on #520
We stopped testing SIRIUS with Farming a while ago. I just tried to reproduce it again today and couldn't. Since the issue has always been flaky, it might just have become less likely. That being said, it's certainly not a pressing problem for us anymore.

[2021-12-10 20:27] toxa81 opened #698 "Provide a mechanism to save all output to a generic output stream"
Get rid of the std output, and instead write all info to a generic std::ostream (which can be a std::cout if necessary).

[2021-12-10 20:28] #520 closed

[2021-12-10 20:30] toxa81 commented on #521
@haampie Looks like hipMAGMA is merged into main trunk, so it doesn't exist as a standalone packaged. The issue can be closed

[2021-12-10 20:31] #521 closed

[2021-12-14 22:06] dev-zero commented on #662
I think so, yes. Works for me with the current CP2K master and SIRIUS v7.2.8

[2021-12-14 22:06] #662 closed

[2021-12-16 08:45] dev-zero opened #705 "Insufficient workspace with scalapack"
Given the following input for SIRIUS (via CP2K):

[code]

I end up with this error:

[code]

... it works with both `lapack` and `elpa2`.

[2021-12-21 12:06] toxa81 opened #706 "Forces and stress tensor for spin-orbit"
For some reason forces and stress are not yet implemented for spin-orbit coupling.

[2021-12-21 12:15] mtaillefumier commented on #706
I am not aware of any specific term due to SO interfactions for the forces and stress. Some reference needed.

[2021-12-29 15:14] dev-zero opened #708 "Wrong unsymmetrized density when using magma_gpu as a standard eigenvalue problem solver"
Running some tests with CP2Ks regtests and SIRIUS I tried the [`Fe.inp`](https://github.com/cp2k/cp2k/blob/master/tests/SIRIUS/regtest-1/Fe.inp) and simply adapted it to use GPU with MAGMA as kind of a "smoketest".

With both the standard and the generalized eigenvalue solver set to `magma` it runs. With the generalized eigenvalue solver set to `magma_gpu` the calculation terminates with "not impl

[2022-01-03 18:36] lucamar opened #712 "Error with elpa_eigenvectors_d in eigenproblem.hpp"
Hi,
building SIRIUS 7.3.0 with the latest ELPA release 2021.11.001 gives the following error:
[code]
There is no error with the previous version of ELPA (2021.05.002).

[2022-01-05 15:35] payerle opened #714 "Build error with sirius@7.2.7, 7.3.0 with gcc@9.4.0 using spack"
I am encountering errors like
[code]
when trying to build sirius@7.2.7 or 7.3.0 using gcc@9.4.0 under spack.
Specifically trying to build in spack
[code]
using
[code]
(I have also updated the package.py for sirius with the copy from the latest devel branch of spack as of 2022-01-05 to try @7.3.0, with the same results).  I have since successfully compiled @7.2.6 with the same setup.

I am submitti

[2022-01-06 09:42] toxa81 commented on #714
Hi @payerle ! I think it doesn't like disabling of shared libraries (`~shared` flag). Without it I compiled your spec:
`spack install sirius@7.3.0%gcc@9.4.0+apps ~boost_filesystem build_type=Release ~cuda ~elpa +fortran +ipo ~magma +memory_pool ~nlcglib +openmp +profiler +python ~rocm +scalapack ~single_precision +tests +vdwxc
`
Is it strictly necessary for your platform to not have the shared lib

[2022-01-06 10:07] simonpintarelli commented on #714
I can reproduce the error for `sirius@7.2.7+fortran~shared%gcc@9.4.0`, but only when adding `cxxflags=-flto -fno-fat-lto-objects`. Without the lto flags it compiles successfully for `~shared` and `+shared`.

[2022-01-06 10:13] toxa81 commented on #714
@simonpintarelli can you try the entire spec:
`spack install sirius@7.2.7%gcc@9.4.0+apps ~boost_filesystem build_type=Release ~cuda ~elpa +fortran +ipo ~magma +memory_pool ~nlcglib +openmp +profiler +python ~rocm +scalapack ~shared ~single_precision +tests +vdwxc`
didn't work for me on Ubuntu-20.04

[2022-01-06 10:23] simonpintarelli commented on #714
Thanks, indeed `spack install sirius@7.2.7%gcc@9.4.0+apps ~boost_filesystem build_type=Release ~cuda ~elpa +fortran +ipo ~magma +memory_pool ~nlcglib +openmp +profiler +python ~rocm +scalapack ~shared ~single_precision +tests +vdwxc` fails for me as well. It seems the `+ipo` is guilty, which is adding the lto flags.

[2022-01-06 20:24] payerle commented on #714
Thanks for the quick feedback.  The issue is academic for me at this time (I am a sysadmin and just updating our HPC software library, and @7.2.6 is current enough for us for now), and I was reporting in hopes that it would be addressed by the time my users start asking for @7.3 or later.

The issue with the +ipo variant/lto flags is strange --- as I said I was able to compile sirius@7.2.6 using t

[2022-01-06 21:03] simonpintarelli commented on #714
Version `7.2.7` introduced single precision computations and many classes were added a template parameter for the numeric type, the explicit template instantiation in different files seem to have caused this compilation error. It should be fixed in https://github.com/electronic-structure/SIRIUS/pull/715.

[2022-01-07 09:39] toxa81 commented on #714
I confirm, the PR(https://github.com/electronic-structure/SIRIUS/pull/715) fixes the issue.

[2022-01-18 13:08] #714 closed

[2022-01-18 13:08] toxa81 commented on #712
we fixed it in the latest development branch

[2022-01-18 13:08] #712 closed

[2022-01-18 13:09] toxa81 commented on #697
This is in PR and will be soon merged.

[2022-01-18 13:09] #697 closed

[2022-01-19 11:06] haampie opened #716 "issues with cmake, clang 11 and nvcc"
CMake recognizes that clang 11 uses c++14 by default, which is fine, but as a result refuses to pass a `-std=c++14` flag to `nvcc` when compiling CUDA code, which makes compilation fail for me.

reproducer:

[code]

vs

[code]

Note sure if nvcc or cmake is at fault...

[2022-01-19 11:18] haampie commented on #716
I think it's cmake fault, because LLVM says

Seems like those two things aren't equivalent

[code]

and nvcc relies on `clang++ -E` output.

[2022-01-19 13:24] haampie commented on #716
Filed an issue here: https://gitlab.kitware.com/cmake/cmake/-/issues/23122

[2022-02-16 13:50] toxa81 commented on #716
Looks like cmake guys resolved the issue

[2022-03-09 14:10] dev-zero opened #727 "Building SIRIUS with CUDA and ELPA fails with: 'elpa_eigenvectors_d' was not declared in this scope"
Trying to build SIRIUS using Spack with sirius+cuda+scalapack+vdwxc+elpa, fails here:

[code]

[2022-03-09 15:51] toxa81 commented on #727
This should be fixed in 7.3.1 https://github.com/electronic-structure/SIRIUS/releases

[2022-03-14 07:56] dev-zero commented on #727
@toxa81 thanks, will try. Although, we've released the CP2K v9.1 toolchain with ELPA 2021.11.00 and SIRIUS 7.3.0 and there it seemed to have worked 🤔

[2022-03-14 10:59] dev-zero commented on #727
Ok, verified, thanks! Still bit puzzled why it worked in the past...

[2022-03-14 10:59] #727 closed

[2022-04-05 05:12] GengSS opened #728 "errors during converting upf to json format"
Dear SIRIUS developers,
I'm learning to run the SIRIUS job in CP2K code, in which I need to convert the UPF format to json format to be read in CP2K,
However, when I am running the python script provided in the SIRIUS library, I encountered an error like this:

`Warning missing size field in attributes
Warning: missing size field in attributes <Element 'PP_NLCC' at 0x2ae59e526ea0>
Warning missing

[2022-04-05 08:39] simonpintarelli commented on #728
Hello Geng,

the python converter script is checking if the `<PP_NLCC>` tag has the size attribute. If it is found, it will check that the array found inside `PP_NLCC` has the same length as indicated. In case the size is not there, it will just read the array, print a warning, and assume that the UPF file was valid. There is nothing you can do on your side. If you trust the UPF file was written/g

[2022-04-05 08:47] GengSS commented on #728
Dear Simon,
Thank you very much for your reply.

after running the python script, I did not find the generated *.json file,
It is my fault that I missed a link in the error message,

Here is all of them

Warning missing size field in attributes
Warning: missing size field in attributes <Element 'PP_NLCC' at 0x7fde4aea2e00>
Warning missing size field in attributes <Element 'PP_LOCAL' at 0x7fde4aea2

[2022-04-05 08:59] simonpintarelli commented on #728
Unfortunately, the script doesn't support this particular format of the augmentation (not implemented). Can you use the PAW pseudo from SSSP (https://www.materialscloud.org/discover/sssp/table/efficiency)?

[2022-04-05 10:23] toxa81 commented on #728
Hi Geng
This should be fixed in the `develop` branch.  Here is the line: https://github.com/electronic-structure/SIRIUS/blob/develop/apps/upf/upf2_to_json.py#L121

[2022-04-05 12:51] GengSS commented on #728
Dear toxa81,
thank you for you reply, but it still complains an error:

Warning: missing size field in attributes <Element 'PP_R' at 0x7fbe9151fd60>
Warning: missing size field in attributes <Element 'PP_NLCC' at 0x7fbe9151fe00>
Warning: missing size field in attributes <Element 'PP_LOCAL' at 0x7fbe9151fe50>
Traceback (most recent call last):
  File "./upf_to_json.py", line 45, in <module>
    mai

[2022-04-05 13:56] toxa81 commented on #728
Dear Geng!
Can you try now? I just pushed a few more fixes (https://github.com/electronic-structure/SIRIUS/commit/71f98d8e3c34eca625e94f3ae381f3b7cb04d21d). The main problem is that UPF doesn't have a common schema and from time to time we discover new UPFs that break our simple Python parser.

[2022-04-06 02:35] GengSS commented on #728
Dear toxa81,
Thank you very much, It works

Best
Geng

[2022-06-10 19:42] toxa81 commented on #287
To be more specific: test26 (NiO lsda+u, but can be simple lsda) will give _slightly_ different final result depending on the initial magnetization of 2/-2 or 2.2/-2.2. The total energy will be the same, but components of total energy as well as forces and stress tensor will be a little bit different.

[2022-06-12 20:24] toxa81 commented on #287
The corresponding PR is https://github.com/electronic-structure/SIRIUS/pull/741

[2022-06-28 12:23] toxa81 opened #743 "Switch to C++17"
@mtaillefumier @haampie @simonpintarelli @AdhocMan
Is there any immediate reason why we can't switch to C++17?

[2022-06-28 12:24] mtaillefumier commented on #743
Not that I am aware of.

[2022-06-28 12:34] AdhocMan commented on #743
The only reason I can think of is NVCC, since switching to C++17 will require CUDA 11 or later.

[2022-07-04 03:06] GengSS opened #744 "how to use LDA+U in cp2k with sirius"
Dear SIRIUS developers,
I am trying to use Hubbard correction with CP2K/sirius,

The   `HUBBARD_CORRECTION T`  is set in the input under the `&PARAMETERS` section
In the meanwhile, I also set up the U value under the `&KIND` section.
[code]

However, I found that all the energies are the same regardless of the Hubbard U value I set in the &DFT_PLUS_U section. This is a bulk Cu2O system, and comput

[2022-07-04 08:01] toxa81 commented on #744
@mtaillefumier can you have a look, please? We probably need to tag the new version, because latest lda+u+v is just merged into `develop` branch.

[2022-07-04 10:11] mtaillefumier commented on #744
Hi geng, thank you very much for this report. SIRIUS supports LDA+U (+V) types of calculations but this support is not activated in cp2k. Turning on hubbard correction (which I am a bit surprised it even shows up) is not enough as the information about atoms and constants should be given to sirius. The necessary bit of code is not present in cp2k at the time of this reply. I would suggest you to o

[2022-07-05 13:24] mtaillefumier commented on #744
Hi [geng](https://github.com/GengSS),

Short question. Do you use cp2k pseudo-potentials or external one. The integration of the hubbard sirius functionality will only work with external pp for the time being. I am preparing a patch to support this in cp2k.

[2022-07-05 22:22] GengSS commented on #744
Dear mtailefumier,
Thank you very much for your reply.
I am using the cp2k pseudo-potentials provided in the GTH_POTENTIALS file.
Best,
Geng

[2022-07-08 16:00] toxa81 opened #751 "get rid of 'using namespace sddk' in all header files"

[2022-07-09 21:10] #751 closed

[2022-07-09 21:11] #728 closed

[2022-07-09 21:12] toxa81 commented on #489
COSTA is now a hard dependency.

[2022-07-09 21:12] #489 closed

[2022-08-26 18:51] yurivict opened #758 "Python executable in installed files should be supplied by the caller"
For example in ```apps/upf/upf_to_json``` ```python``` should be replaced with cmake's variable ```PYTHON3_COMMAND``` or similar.

[2022-08-27 02:25] yurivict opened #759 "Build breaks with NLCGLIB: error: non-virtual member function marked 'override' hides virtual member function"
[code]

Version: 7.3.2
clang-14
FreeBSD 13.1

[2022-08-27 02:45] yurivict opened #760 "Many tests fail"
[code]

[LastTest.log](https://github.com/electronic-structure/SIRIUS/files/9437198/LastTest.log)

FreeBSD doesn't support GPU computation, but why do many CPU tests fail?

Version: 7.3.2
clang-14
FreeBSD 13.1

[2022-08-27 08:28] toxa81 commented on #760
Is there an easy way to reproduce this build (for example, Dockerfile based on FreeBSD 13.1)?

[2022-08-27 09:55] mtaillefumier commented on #760
I do not have free bsd on any of my machines.

[2022-08-27 13:51] yurivict commented on #760
Docker doesn't support FreeBSD.

I have these instructions:

1. Install the [FreeBSD VM image](https://download.freebsd.org/ftp/releases/VM-IMAGES/13.1-RELEASE/amd64/Latest/) into VirtualBox.
2. Boot FreeBSD
3. Install git: pkg install git
4. Check out the ports tree: git clone https://git.FreeBSD.org/ports.git /usr/ports
5. cd /usr/ports/science/sirius
6. Install dependencies: pkg install -A \`ma

[2022-08-28 22:40] simonpintarelli commented on #759
The nlcglib API has been changed, a PR for SIRIUS develop will come soon.

[2022-08-28 22:40] #759 closed

[2022-08-29 20:50] simonpintarelli commented on #758
At the moment SIRIUS only depends explicitly on python when the python module is built (cf https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/sirius/package.py). In most cases the python module isn't required. Spack has become the preferred way for installing SIRIUS. On HPC systems this would then often require to build python from source, if we would make it a hard depen

[2022-08-29 21:17] yurivict commented on #758
No. Multiple Python versions can be installed concurrently, each having its unique name/path.
FreeBSD port has some Python version as default and it has the ```PYTHON_CMD```  variable containing the path.

[2022-10-17 14:52] Tenshi65535 opened #773 "Build fail due to probable ELPA api change"
Greetings to all.

I 've tried to build SIRIUS 7.3.2 prerelease on Archlinux and got the error below:
[code]
I've checked the ELPA documentation and the api seems change from ELPA-2021.11.002 to ELPA-2022.05.001.
Here are two links for your reference: [ELPA-2021.11.002](https://elpa.mpcdf.mpg.de/documentation/doxygen/ELPA_DOXYGEN_PAGES/ELPA-2021.11.002/html/elpa__generated_8h.html#aec77ea621ded890

[2022-10-17 18:13] toxa81 commented on #773
again!?!? I will have a look. In spack ELPA-2021.11.001 is still the latest one, that's why we didn't capture it before.

[2022-10-19 10:12] Eddie123e commented on #773
I've checked the commits of elpa git repo, and it seems only the procedure names changed in elpa_api.F90.
I guess a simple patch with versions specified would work?
Here is the link to the commit: [Commit095a65ea](https://gitlab.mpcdf.mpg.de/elpa/elpa/-/commit/095a65ea7c37033d600062da06c553bb787ee407).

[2022-10-19 16:38] gsavva opened #774 "scf total energy when U+V are non-zero is different between QE and QE+SIRIUS"
The total energies calculated using QE and QE-SIRIUS when the Hubbard U & V values are non-zero are different:
[code]

I'm using the input file of example10 (LiCoO2, non-magnetic insulator) as found in `q-e/HP/examples` https://gitlab.com/QEF/q-e/-/tree/develop/HP/examples.

The Hubbard U & V parameters are both changed from 0.0001 to 3.0
[code]

The input file, pseudopotentials, execution script

[2022-10-20 14:47] toxa81 commented on #774
This small difference is ok. The GGA XC implementation is slighlty different between QE and LibXC. Whas is important is that forces and stress are similar.

[2022-10-20 16:36] toxa81 commented on #773
This will fix the problem https://github.com/electronic-structure/SIRIUS/pull/775
Todo:
[ ] @Eddie123e If I tag pre-release of sirius/7.3.3 from this branch, would that help?
[ ] Add ELPA-2022.05.001 to spack repo
[ ] Rebuild base CI/CD container with latest ELPA.

[2022-10-20 16:42] toxa81 commented on #773
Waiting for https://github.com/spack/spack/pull/33439 to be merged.

[2022-10-21 06:41] mtaillefumier commented on #578
Should we close this issue ?

[2022-10-21 09:54] gsavva commented on #774
I initially started this comparison testing of forces & stresses (QE vs QE_SIRIUS) using a non-zero Hubbard U for the Hubbard atoms to evaluate **(a)** the total forces and **(b)** the Hubbard contribution to forces.
However, for some systems I had convergence issues (already communicated to @simonpintarelli ) and the total energies were different (as in the example reported above).
I'm now workin

[2022-10-24 16:25] #578 closed

[2022-11-10 21:27] matt-chan opened #781 "Costa requirement missing"
Hi,

The build scripts and instructions should be updated to mention the requirement of COSTA. Currently the build fails because CMake can't find it.

https://github.com/electronic-structure/SIRIUS/blob/master/cmake/siriusConfig.cmake.in#L41

Thanks!
Matt

[2022-11-11 18:33] ltalirz commented on #781
To add some more details here: we ran into this build error when building q-e-sirius with nlcglib.

The problem is actually not in the spack recipe in the sirius repository, but that the sirius spack package in the nlcglib https://github.com/simonpintarelli/nlcglib/tree/develop/spack/packages is out of date.

@simonpintarelli could you please update it? Feel free to transfer this issue to the nlcg

[2022-11-11 20:13] simonpintarelli commented on #781
@ltalirz @matt-chan I've update the recipes. Please use the develop version for the moment, I need to merge it with the latest wave function refactoring first. I'm closing it, please reopen in https://github.com/simonpintarelli/nlcglib if you hit another issue.

[2022-11-11 20:23] ltalirz commented on #781
Thanks a lot for the quick fix, Simon!

[2022-11-19 00:34] toxa81 commented on #743
https://github.com/electronic-structure/SIRIUS/pull/776

[2022-11-23 11:47] gsavva opened #786 "Magnetization of Ni from QE and q-e-sirius"
Quantum ESPRESSO and SIRIUS-enabled QE calculate different `total` and `absolute` magnetization for Ni.

The input file is taken from the PW examples of QE: `qe/PW/examples/example01`

**Quantum ESPRESSO:**
<pre>
!    total energy              =     -85.72256763 Ry
     estimated scf accuracy    <          5.5E-17 Ry
     smearing contrib. (-TS)   =       0.00034633 Ry
     internal energy E=F+TS

[2022-11-24 15:15] mtaillefumier commented on #774
A factor 2 was missing in the calculation of the kinetic energy (the one-electron contribution). q-e-sirius now works fine for U \neq 0 V = 0.
U+V is still giving a different total energy though.

[2022-11-24 15:17] mtaillefumier commented on #706
We can close this issue as there is no contribution to force and stress coming from SO interaction alone.

[2022-11-24 15:17] #706 closed

[2022-11-24 15:20] mtaillefumier commented on #744
Hi geng,

You can try cp2k master if you want to test lda+U+cp2k+sirius. The necessary code was merged during the summer.

[2022-11-24 21:49] toxa81 commented on #786
It's fetching of the magnetisation that is wrong. The total energies (and thus ground state) are identical. I'll check

[2022-11-24 22:04] toxa81 commented on #786
The fix is easy
[code]
 There is one caveat. In the edge cases when G-vectors don't match completely the fetching of plane-wave coefficients will fail. There are two ways out of it: 1) introduce QE order of G-vectors in SIRIUS, or 2) fetch magnetisation and absolute magnetisation from SIRIUS. Both will require a small change in API. Second option is easy to implement. I can explain how to do it

[2022-11-24 22:05] toxa81 commented on #786
3rd option is to fetch only the existing G-vectors. This is a most simple options.

[2022-11-25 16:57] mtaillefumier commented on #774
Should be fixed by PR #788. The mistake was a factor 2.0 during the calculation of the hubbard U contribution to the hubbard potential. The generalized version of Hubbard (reduce to dudarev version) is on by default.